<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="aboutLabel">About Notebooks</h4>
            </div>
            <div class="modal-body">
                <p>This is a demo project for my portfolio.</p>
                <h4>Technology stack</h4>
                <ul>
                    <li>Node.js</li>
                    <li>Express as web application framework</li>
                    <li>MongoDB</li>
                    <li>Bootstrap as front-end framework</li>
                    <li>Knockout</li>
                </ul>
            </div>
            <div class="modal-footer">
                Slava Opletin, 2014
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->